:root {
    --correct-color: #638c54;
    --close-color: #b49f4c;
    --wrong-color: #3a3a3c;
    --btn-color: #818384;
    --logo-color: #fffcfe;
    --background-color: #010101;
}

body{
    font-family: 'Roboto Serif', sans-serif;
    background-color: var(--background-color);
    color: var(--logo-color);
}

.letterBox{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.keyboardLetterBox{
    height: 65px;
    width: 45px;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-color) !important;
    color: var(--logo-color);
}

.keyboardLetterBoxBig{
    height: 65px;
    width: 70px;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-color) !important;
    color: var(--logo-color);
}

.correct{
    background-color: var(--correct-color);
}

.wrong{
    background-color: var(--wrong-color);
}

.close{
    background-color: var(--close-color);
}

