:root {
    --correct-color: #638c54;
    --close-color: #b49f4c;
    --wrong-color: #3a3a3c;
    --btn-color: #818384;
    --logo-color: #fffcfe;
    --background-color: #010101;
}

body{
    font-family: 'Roboto Serif', sans-serif;
    background-color: var(--background-color);
    color: var(--logo-color);
}

.letterBox{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.keyboardLetterBox{
    height: 65px;
    width: 45px;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-color);
    color: var(--logo-color);
    padding: 0px;
}

.keyboardLetterBoxBig{
    height: 65px;
    width: 70px;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-color);
    color: var(--logo-color);
    padding: 0px;
}

@media (max-width: 496px) {
    .keyboardLetterBox{
        height: 40px;
        width: 30px;
        justify-content: center;
        align-items: center;
        background-color: var(--btn-color);
        color: var(--logo-color);
        font-size: 60%;
    }
    
    .keyboardLetterBoxBig{
        height: 40px;
        width: 45px;
        justify-content: center;
        align-items: center;
        background-color: var(--btn-color);
        color: var(--logo-color);    
        font-size: 60%;
    }
}

.correct{
    background-color: var(--correct-color);
}

.wrong{
    background-color: var(--wrong-color);
}

.close{
    background-color: var(--close-color);
}

